*.o
*.a
*~
rsem-bam2readdepth
rsem-bam2wig
rsem-build-read-index
rsem-calculate-credibility-intervals
rsem-extract-reference-transcripts
rsem-get-unique
rsem-parse-alignments
rsem-preref
rsem-run-em
rsem-run-gibbs
rsem-simulate-reads
rsem-synthesis-reference-transcripts
rsem-tbam2gbam
rsem-sam-validator
rsem-scan-for-paired-end-reads
EBSeq/rsem-for-ebseq-calculate-clustering-info
samtools-*/samtools
samtools-*/version.h
samtools-*/test
samtools-*/misc

