*.o
*.a
*~
rsem-build-reference
rsem-gbam2tbam
rsem-tbam2gbam

rsem-bam2readdepth
rsem-bam2wig
rsem-build-read-index
rsem-calculate-credibility-intervals
rsem-get-unique
rsem-parse-alignments
rsem-run-em
rsem-run-gibbs
rsem-simulate-reads

rsem-sam-validator
rsem-scan-for-paired-end-reads
EBSeq/rsem-for-ebseq-calculate-clustering-info
pRSEM/*.pyc
pRSEM/RLib/
pRSEM/bigWigSummary
pRSEM/filterSam2Bed
pRSEM/phantompeakqualtools/spp_1.10.1_on_R*/config.status
pRSEM/phantompeakqualtools/spp_1.10.1_on_R*/src/Makevars
pRSEM/phantompeakqualtools/spp_1.10.1_on_R*/src/config.h

samtools-1.7/config.h
samtools-1.7/config.log
samtools-1.7/config.mk
samtools-1.7/config.status
samtools-1.7/htslib-1.7/config.h
samtools-1.7/htslib-1.7/config.log
samtools-1.7/htslib-1.7/config.mk
samtools-1.7/htslib-1.7/config.status
samtools-1.7/htslib-1.7/htslib.pc.tmp
samtools-1.7/htslib-1.7/htslib_static.mk
samtools-1.7/htslib-1.7/version.h
samtools-1.7/misc/
samtools-1.7/samtools
samtools-1.7/test/
samtools-1.7/version.h

.DS_Store
