export(beta.mom)
export(CheckNg)
export(crit_fun)
export(DenNHist)
export(DenNHistTable)
export(EBTest)
export(f0)
export(f1)
export(GeneSimuAt)
export(GeneSimu)
export(GetData)
export(GetNg)
export(GetPP)
export(IsoSimuAt)
export(IsoSimu)
export(Likefun)
export(LogN)
export(MedianNorm)
export(MergeGene)
export(MergeIso)
export(PlotFDTP)
export(PlotFPTP)
export(PlotTopCts)
export(PolyFitPlot)
export(PoolMatrix)
export(PostFC)
export(QQP)
export(QuantileNorm)
export(RankNorm)
export(TopCts)
export(TPFDRplot)
export(EBMultiTest)
export(GeneMultiSimu)
export(GetMultiPP)
export(LikefunMulti)
export(LogNMulti)
export(GetPatterns)
export(PlotPattern)
